$black: #000;
$grey: #1b1b1b;
$grey-black: #161616;
$grey-input: #2f2e2e;
$white: #fff;
$green: #39965f;
$orange: #fd8701;
$blue: #006eff;
$pink: #b700ff;
$orange-red: #ff0011;
$golden: #ffc801;
$vk: #02bed7;
$tg: #02bed7;
$temp: #6cd3e0;

