.review {
  width: 45%;
  background-color: $grey;
  padding: 0 rem(30);
  border: rem(1) solid rgb(255 255 255 / 25%);
  border-radius: rem(20);
  display: flex;
  justify-content: space-between;
  gap: rem(20);
  flex-direction: column;

  &__task {
    padding: rem(20) rem(10) rem(5);
    background-color: $vk;
    color: $black;
    border-radius: 0 0 rem(15) rem(15);
    text-align: center;
    font-size: rem(24);
    box-shadow: rem(0) rem(3) rem(30) rem(3) rgb(255 255 255 / 20%);
  }

  &__date {
    font-size: rem(20);
    text-align: center;
    background-color: $green;
    padding: rem(10);
    padding-bottom: rem(10);
    border-radius: rem(10) rem(10) 0 0;
    width: min-content;
    text-wrap: nowrap;
    margin: 0 auto;
  }

  &__text {
    border: rem(2) solid $black;
    font-size: rem(22);
    padding: rem(10);
    background-color: $grey-input;
    border-radius: rem(15) rem(25) rem(15) 0;
  }
}

@media (width <= rem(1024)) {
  .review {
    width: 100%;
    padding: 0 rem(20);

    &__task {
      padding: rem(20) rem(10) rem(5);
      font-size: rem(20);
    }

    &__date {
      font-size: rem(18);
    }

    &__text {
      font-size: rem(22);
      padding: rem(10);
    }
  }
}

@media (width <= rem(768)) {
  .review {
    &__task {
      padding: rem(15) rem(5) rem(5);
      font-size: rem(18);
    }

    &__date {
      font-size: rem(16);
    }

    &__text {
      font-size: rem(18);
    }
  }
}

@media (width <= rem(420)) {
  .review {
    padding: 0 rem(15);
    gap: rem(10);

    &__task {
      padding: rem(10) rem(5) rem(5);
    }

    &__text {
      font-size: rem(16);
    }
  }
}
