.works {
  position: relative;
  padding: rem(50) 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
  }
}

@media (width <= 1024px) {
  .works {
    padding: rem(40) 0;
  }
}

@media (width <= 768px) {
  .works {
    padding: rem(30) 0;
  }
}

@media (width <= 520px) {
  .works {
    padding: rem(20) 0;

    &__list {
      gap: rem(10);
    }
  }
}
