@import '../../app/styles/Vars.scss';
.works {
  position: relative;
  padding: 50px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
    > div {
      margin: 0 0 20px 0;
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__filters {
    &_title {
      font-size: 20px;
    }
  }
  &__filter {
    position: relative;
    padding: 10px 20px;
    background-color: $grey-input;
    color: $white;
    font-size: 20px;
    border-radius: 15px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
  }
  &__sort {
    &-list {
      z-index: 100;
      width: 280px;
      padding: 15px;
      padding: 10px 20px;
      transform: translate(50%, -50%);
      position: absolute;
      bottom: calc(-270% - 50px);
      right: 50%;
      background-color: $grey-input;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      > li {
        transition: all 0.5s;
      }
      :hover {
        transition: all 0.2s;
        background-color: $white;
        color: $black;
      }
    }
  }
  &__show {
    width: 100%;
    display: flex;
    justify-content: center;
    &-more {
      margin-top: 20px;
      text-wrap: nowrap;
      width: min-content;
      font-size: 16px;
      padding: 15px 10px;
      border-radius: 10px;
      background-color: $blue;
      font-weight: 700;
      color: $white;
    }
  }
  &__not-found {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  &__search {
    width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $grey-input;
    color: $white;
    font-size: 20px;
    border: 1px solid $white;
    &::placeholder {
      color: $white;
    }
  }
  // &_hint{
  //   // position: absolute;
  //   top: 50px;
  //   right: 0;
  //   padding: 10px 15px;
  //   background-color: $green;
  //   color: white;
  //   border-radius: 5px;
  //   font-size: 16px;
  //   display: flex;
  //   align-items: center;
  //   gap: 10px;
  //   >img{
  //     width: 30px;
  //   }
  // }
}

@media (max-width: 1024px) {
  .works {
    padding: 40px 0;
    &__wrapper {
      > div {
        margin: 0 0 15px 0;
        gap: 30px;
      }
    }
    &__navigation {
      gap: 10px;
    }
    &__filters {
      &_title {
        font-size: 16px;
      }
    }
    &__filter {
      padding: 10px 20px;
      font-size: 16px;
    }
    &__box {
      gap: 20px;
    }
    &__sort {
      &-list {
        width: 200px;
        padding: 10px 20px;
        gap: 10px;
      }
    }
    &__not-found {
      font-size: 18px;
    }
    &__search {
      width: 300px;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .works {
    padding: 30px 0;
    &__wrapper {
      > div {
        margin: 0 0 15px 0;
        gap: 20px;
      }
    }
    &__navigation {
      gap: 10px;
      flex-direction: column;
      width: 100%;
    }
    &__filters {
      &_title {
        font-size: 14px;
      }
    }
    &__filter {
      padding: 5px 10px;
      font-size: 14px;
    }
    &__box {
      gap: 10px;
    }
    &__sort {
      &-list {
        width: 200px;
        bottom: -500%;
        padding: 10px 20px;
        gap: 10px;
        :hover {
          background-color: $grey-input;
          color: $white;
        }
      }
    }
    &__not-found {
      font-size: 16px;
    }
    &__search {
      width: auto;
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}

@media (max-width: 420px) {
  .works {
    padding: 20px 0;
    &__sort {
      &-list {
        width: 200px;
        bottom: -500%;
        padding: 5px 10px;
        gap: 10px;
      }
    }
  }
}
