.works {
  position: relative;
  padding: rem(50) 0;

  &__wrapper {
    display: flex;
    flex-direction: column;

    > div {
      margin: 0 0 rem(20);
      display: flex;
      align-items: center;
      gap: rem(50);
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: rem(20);
  }

  &__filters {
    &_title {
      font-size: rem(20);
    }
  }

  &__filter {
    position: relative;
    padding: rem(10) rem(20);
    background-color: $grey-input;
    color: $white;
    font-size: rem(20);
    border-radius: rem(15);
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: rem(40);
    position: relative;
  }

  &__sort {
    &-list {
      z-index: 100;
      width: rem(280);
      padding: rem(15);
      padding: rem(10) rem(20);
      transform: translate(50%, -50%);
      position: absolute;
      bottom: calc(-150% - rem(50));
      right: 50%;
      background-color: $grey-input;
      border-radius: rem(15);
      display: flex;
      flex-direction: column;
      gap: rem(10);

      > li {
        transition: all 0.5s;
      }

      :hover {
        transition: all 0.2s;
        background-color: $white;
        color: $black;
      }
    }
  }

  &__show {
    width: 100%;
    display: flex;
    justify-content: center;

    &-more {
      margin-top: rem(20);
      text-wrap: nowrap;
      width: min-content;
      font-size: rem(16);
      padding: rem(15) rem(10);
      border-radius: rem(10);
      background-color: $blue;
      font-weight: 700;
      color: $white;
    }
  }

  &__not-found {
    width: 100%;
    text-align: center;
    font-size: rem(24);
  }

  &__search {
    width: rem(400);
    padding: rem(10) rem(20);
    border-radius: rem(10);
    background-color: $grey-input;
    color: $white;
    font-size: rem(20);
    border: rem(1) solid $white;

    &::placeholder {
      color: $white;
    }
  }
}

@media (width <= rem(1024)) {
  .works {
    padding: rem(40) 0;

    &__wrapper {
      > div {
        margin: 0 0 rem(15);
        gap: rem(30);
      }
    }

    &__navigation {
      gap: rem(10);
    }

    &__filters {
      &_title {
        font-size: rem(16);
      }
    }

    &__filter {
      padding: rem(10) rem(20);
      font-size: rem(16);
    }

    &__box {
      gap: rem(20);
    }

    &__sort {
      &-list {
        width: rem(200);
        padding: rem(10) rem(20);
        gap: rem(10);
      }
    }

    &__not-found {
      font-size: rem(18);
    }

    &__search {
      width: rem(300);
      padding: rem(10) rem(20);
      font-size: rem(16);
    }
  }
}

@media (width <= rem(768)) {
  .works {
    padding: rem(30) 0;

    &__wrapper {
      > div {
        margin: 0 0 rem(15);
        gap: rem(20);
      }
    }

    &__navigation {
      gap: rem(10);
      flex-direction: column;
      width: 100%;
    }

    &__filters {
      &_title {
        font-size: rem(14);
      }
    }

    &__filter {
      padding: rem(5) rem(10);
      font-size: rem(14);
    }

    &__box {
      gap: rem(10);
    }

    &__sort {
      &-list {
        width: rem(200);
        bottom: -350%;
        padding: rem(10) rem(20);
        gap: rem(10);

        :hover {
          background-color: $grey-input;
          color: $white;
        }
      }
    }

    &__not-found {
      font-size: rem(16);
    }

    &__search {
      width: auto;
      padding: rem(10) rem(20);
      font-size: rem(14);
    }
  }
}

@media (width <= rem(420)) {
  .works {
    padding: rem(20) 0;

    &__sort {
      &-list {
        width: rem(200);
        bottom: -300%;
        padding: rem(5) rem(10);
        gap: rem(10);
      }
    }
  }
}
