.form {
  display: flex;
  flex-direction: column;

  > label {
    font-size: rem(24);
    margin-bottom: rem(20);
  }

  > textarea {
    flex-grow: 1;
    background-color: $grey;
    color: $white;
    font-size: rem(18);
    padding: rem(10) rem(15);
    border: rem(1) solid rgb(255 255 255 / 25%);
    border-radius: rem(20);
    min-height: rem(45);
    max-height: rem(200);
    resize: vertical;

    &::placeholder {
      color: $white;
    }
  }

  &__proof {
    display: flex;
    align-items: center;
    margin: rem(20) 0;
    font-size: rem(16);
  }

  &__btn {
    margin: rem(30) auto 0;
    width: min-content;
    padding: rem(10) rem(20);
    font-size: rem(20);
    color: $white;
    background-color: $blue;
    border-radius: rem(10);
  }

  &__input--hidden {
    display: none;
  }
}

@media (width <= rem(1024)) {
  .form {
    > label {
      font-size: rem(22);
    }

    &__btn {
      margin: rem(30) auto 0;
      font-size: rem(18);
    }
  }
}

@media (width <= rem(768)) {
  .form {
    > label {
      font-size: rem(18);
      margin-bottom: rem(10);
    }

    > textarea {
      font-size: rem(16);
      // padding: rem(10) rem(15);
      min-height: rem(40);
      max-height: rem(150);
    }

    &__btn {
      margin: rem(20) auto 0;
      padding: rem(5) rem(10);
      font-size: rem(16);
    }
  }
}

@media (width <= rem(420)) {
  .form {
    > label {
      font-size: rem(16);
    }

    > textarea {
      font-size: rem(14);
      min-height: rem(35);
      max-height: rem(120);
    }

    &__btn {
      margin: rem(15) auto 0;
      font-size: rem(14);
    }
  }
}
