.achievements {
  display: flex;
  flex-direction: column;

  &__wrapper {
    padding-bottom: rem(50);
  }

  &__item {
    width: 70%;
    background-color: $grey;
    border: rem(1) solid rgb(255 255 255 / 25%);
    border-radius: rem(10);
    padding: rem(15) rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(20);

    &-title {
      font-size: rem(22);
    }

    &-description {
      font-size: rem(18);
      white-space: pre-line;
      line-height: 1.2;
    }

    &-image {
      border-radius: 10px;
    }

    &-button {
      width: 100%;
      background-color: transparent;

      & > img {
        width: 100%;
      }
    }
  }
}

@media (width <= 768px) {
  .achievements {
    &__wrapper {
      padding-bottom: rem(30);
    }

    &__item {
      width: 100%;
      padding: rem(10);
      gap: rem(10);

      &-title {
        font-size: rem(18);
      }

      &-description {
        font-size: rem(16);
      }
    }
  }
}
