.exp {
  padding: rem(40) 0;
  width: 100%;
  &__list {
    width: 100%;
    display: flex;
    gap: rem(10) rem(20);
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}

@media (max-width: 768px) {
  .exp {
    padding: rem(20) 0 0;
    &__list {
      gap: rem(10);
    }
  }
}
