.footer {
  font-size: rem(18);
  flex-shrink: 0;
  text-align: center;
  background-color: $grey;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(50);
    width: 100%;
    max-width: 1920px;
    margin-inline: 10vw;
  }

  &__github {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: rem(30);

    > img {
      width: 100%;
    }
  }

  &__author {
    font-size: rem(20);

    > span {
      text-decoration: underline;
    }
  }
}

@media (width <= rem(1024)) {
  .footer {
    height: rem(40);
    font-size: rem(16);

    &__github {
      top: 50%;
    }

    &__author {
      font-size: rem(18);
    }

    &__wrapper {
      margin-inline: 5vw;
    }
  }
}

@media (width <= rem(576)) {
  .footer {
    &__wrapper {
      margin-inline: rem(20);
    }
  }
}

@media (width <= rem(420)) {
  .footer {
    &__github {
      display: none;
    }

    &__author {
      font-size: rem(16);
    }
  }
}
