body {
  cursor: none;
}

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: rem(28);
  height: rem(28);
  background-color: rgba(170, 120, 242, 0.16);
  border: 2px solid #333;
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.2s ease-out;
  &__inner {
    background-color: rgba(180, 127, 225, 0.59);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: rem(8);
    height: rem(8);
    border-radius: 50%;
    transition: all 0.2s ease-out;
  }

  &--hover &__inner,
  &--hover &__inner {
    width: rem(20);
    height: rem(20);
  }
  &--hover {
    background-color: transparent;
    border-color: transparent;
  }
}
