.burger {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(300);
  height: 100vh;
  background-color: $grey-black;
  z-index: 50;
  transition: all 0.4s;
  left: -rem(300);

  &--open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: rem(30);
    height: rem(25);
    cursor: pointer;

    > div {
      width: 100%;
      background-color: $white;
      height: rem(3);
      border-radius: rem(5);
    }
  }

  &__list {
    position: relative;
    width: 100%;
    display: flex;
    gap: rem(30);
    font-size: rem(22);
    flex-direction: column;
    align-items: baseline;
    padding: rem(30);
  }

  &__github {
    padding: rem(10);
    box-sizing: content-box;
    width: rem(40);

    > img {
      width: 100%;
    }
  }

  &__link {
    padding: rem(10);
  }

  &-bg {
    position: fixed;
    inset: 0;
    z-index: 25;
  }

  &_lock {
    position: absolute;
    top: rem(40);
    right: rem(40);
    background-color: transparent;
    width: rem(30);
    height: rem(30);
    display: flex;
    align-items: center;
    justify-content: center;

    :first-child {
      transform: rotate(45deg);
    }

    :last-child {
      transform: rotate(135deg);
    }

    > div {
      position: absolute;
      top: 50%;
      right: 0%;
      background-color: $white;
      border-radius: rem(5);
      width: 100%;
      height: rem(5);
    }
  }
}

.open {
  transition: all 0.4s;
  left: 0;
}
