.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(10) rem(24);
  transition: all 1s;
  background-color: $grey;
  gap: rem(30);
  max-height: rem(70);
  border-bottom: rem(1) solid rgb(255 255 255 / 25%);

  &__left {
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      padding: rem(8);
      font-size: rem(18);
      gap: rem(10);
      border-radius: rem(10);
      background-color: $green;
    }
  }

  &__logo {
    height: 100%;
    max-height: rem(60);
    margin-top: rem(10);
  }

  &__fire {
    width: rem(10);
    height: rem(10);
    border-radius: 50%;
    animation: blink 3s infinite;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: rem(20);
    font-size: rem(18);

    > .active {
      border-bottom: rem(2) solid $green;
    }

    > a {
      transition: all 0.3s;

      &:hover:not(:last-child) {
        border-bottom: rem(1) solid $green;
      }
    }
  }

  &__github {
    height: 100%;
    animation: shake 2s ease-in-out infinite;

    > img {
      width: rem(35);
    }
  }
}

.unvisible {
  position: relative;
  transform: translateY(-rem(100));
  transition: all 1s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }

  30%,
  50%,
  70% {
    transform: translateY(rem(-10)) rotate(-5deg);
  }

  40%,
  60% {
    transform: translateY(rem(-10)) rotate(5deg);
  }
}

@keyframes blink {
  0%,
  100% {
    background-color: black;
  }

  25%,
  75% {
    background-color: red;
  }

  50% {
    background-color: black;
  }
}

@media (width <= rem(1024)) {
  .header {
    gap: rem(30);

    &__left {
      > div {
        font-size: rem(18);
      }
    }

    &__logo {
      max-height: rem(70);
    }

    &__nav {
      gap: rem(20);
      font-size: rem(16);

      > .active {
        border-bottom: rem(2) solid $green;
      }
    }
  }
}

@media (width <= rem(768)) {
  .header {
    max-height: rem(60);

    &__nav {
      display: none;
    }
  }
}

@media (width <= rem(460)) {
  .header {
    padding: rem(8) rem(14);

    &__left {
      > div {
        display: none;
      }
    }

    &__logo {
      max-height: rem(50);
    }
  }
}
