.hello {
  padding: rem(50) 0;
  text-align: center;
  position: relative;

  &__subtitle {
    margin-top: rem(20);
    font-size: rem(20);
  }

  &__browser,
  &__web,
  &__html,
  &__wp {
    position: absolute;
    z-index: -10;
    filter: drop-shadow(0 0 rem(35) rgb(236 236 236 / 89.9%)) brightness(40%);
  }

  &__browser {
    rotate: 10deg;
    width: rem(80);
    top: 90%;
    left: 35%;
    animation: float 8s ease-in-out infinite;
  }

  &__web {
    rotate: -25deg;
    width: rem(90);
    top: 50%;
    right: 10%;
    border-radius: 50%;
    animation: float 7s ease-in-out infinite;
    animation-delay: 1s;
  }

  &__html {
    rotate: 35deg;
    width: rem(70);
    left: 5%;
    top: 40%;
    animation: float 6s ease-in-out infinite;
    animation-delay: 0.4s;
  }

  &__wp {
    rotate: -10deg;
    width: rem(70);
    border-radius: 50%;
    top: 100%;
    filter: drop-shadow(0 0 rem(35) rgb(236 236 236 / 89.9%)) brightness(60%);
    animation: float 6s ease-in-out infinite;
    animation-delay: 0.8s;
    right: 40%;
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(rem(-5), rem(-10)) rotate(-5deg);
  }

  50% {
    transform: translate(rem(5), rem(-5)) rotate(5deg);
  }

  75% {
    transform: translate(rem(-5), rem(10)) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@media (width <= 1024px) {
  .hello {
    padding: rem(40) 0;

    &__subtitle {
      margin-top: rem(15);
      font-size: rem(18);
    }
  }
}

@media (width <= 768px) {
  .hello {
    padding: rem(30) 0;

    &__subtitle {
      margin-top: rem(10);
      font-size: rem(16);
    }

    &__browser {
      width: rem(70);
      left: 30%;
    }

    &__web {
      width: rem(70);
      right: 10%;
    }

    &__html {
      width: rem(60);
      left: 5%;
    }

    &__wp {
      width: rem(70);
      right: 30%;
    }
  }
}

@media (width <= 420px) {
  .hello {
    padding: rem(20) 0;

    &__subtitle {
      font-size: rem(14);
    }

    &__browser {
      width: rem(50);
      left: 30%;
    }

    &__web {
      width: rem(50);
      right: 0%;
    }

    &__html {
      width: rem(40);
      left: 0%;
    }

    &__wp {
      width: rem(50);
      right: 30%;
    }
  }
}
