.link {
  padding: rem(50) 0;

  &__wrapper {
    background-color: $grey;
    border: rem(1) solid rgb(255 255 255 / 25%);
    border-radius: rem(10);
    padding: rem(15) rem(20);
  }

  &_subtitle {
    font-size: rem(24);
    padding: rem(20);
    text-align: center;
  }
}

@media (width <= rem(1024)) {
  .link {
    padding: rem(40) 0;

    &_subtitle {
      font-size: rem(22);
      // padding: rem(20);
    }
  }
}

@media (width <= rem(768)) {
  .link {
    padding: rem(30) 0;

    &_subtitle {
      font-size: rem(20);
      padding: rem(15);
    }
  }
}

@media (width <= rem(420)) {
  .link {
    padding: rem(20) 0;

    &_subtitle {
      font-size: rem(18);
      padding: rem(10);
    }
  }
}
