.popUp {
  z-index: 100;
  position: fixed;
  inset: 0;
  background-color: #0000009b;

  &__body {
    box-shadow: rem(0) rem(0) rem(18) rem(0) rgb(34 60 80 / 20%) inset;
    width: rem(600);
    height: rem(200);
    border-radius: rem(20);
    border: rem(2) solid $grey-input;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: $white;
  }

  &__text {
    color: $black;
    font-size: rem(32);
    text-align: center;
    margin-top: rem(100);
  }

  &__close {
    position: absolute;
    top: rem(40);
    right: rem(40);
    width: rem(40);
    height: rem(40);
    transform: translate(50%, -50%);
    border-radius: rem(5);
    border: rem(2) solid $black;
    background-color: transparent;
    background-color: red;

    > div {
      position: absolute;
      top: 47%;
      transform: translate(50%, -50%);
      height: rem(3);
      width: rem(35);
      background-color: $black;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(135deg);
      }
    }
  }
}

@media (width <= rem(1024)) {
  .popUp {
    &__body {
      width: rem(400);
    }

    &__text {
      padding: rem(20);
      font-size: rem(26);
      margin-top: rem(60);
    }
  }
}

@media (width <= rem(768)) {
  .popUp {
    &__body {
      width: rem(300);
      height: rem(150);
    }

    &__text {
      font-size: rem(22);
      margin-top: rem(40);
    }

    &__close {
      top: rem(30);
      right: rem(30);
      width: rem(30);
      height: rem(30);

      > div {
        width: rem(25);
      }
    }
  }
}

@media (width <= rem(768)) {
  .popUp {
    &__body {
      width: rem(200);
      height: rem(130);
    }

    &__text {
      padding: rem(10);
      font-size: rem(18);
    }
  }
}
