.fade-top,
.fade-bottom,
.fade-left,
.fade-right {
  opacity: 0;
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;

  &.fade-visible {
    opacity: 1;
    transform: none;
  }
}

.fade-top {
  transform: translateY(-50px);
}

.fade-bottom {
  transform: translateY(50px);
}

.fade-left {
  transform: translateX(-50px);
}

.fade-right {
  transform: translateX(50px);
}
