@use './vars';
@use './mixins' as *;

body {
  background-image: url('/images/main/bg.png');
  background-repeat: repeat;
  overflow: hidden auto;
  font-family: Mulish, sans-serif;
  font-size: rem(14);
  font-weight: 600;
  line-height: 1.1;
  color: $white;
  user-select: none;
  background-color: $grey;
}

html,
body {
  scrollbar-gutter: stable;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  &::-webkit-scrollbar-button {
    display: none;
    width: rem(10);
    height: rem(10);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    margin: rem(20) 0;
    background-color: $golden;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  cursor: url('/cursor.cur') 8 8, auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.dot {
  background-color: $green;
  border-radius: rem(20);
  max-width: 10vw;
  height: rem(8);
  margin-top: rem(10);
  margin-bottom: rem(30);
}

.title {
  font-size: rem(24);
  font-weight: 700;
}

.container {
  margin-inline: 10vw;
}

@media (width <= rem(1024)) {
  .container {
    margin-inline: 5vw;
  }
}

@media (width <= rem(576)) {
  .container {
    margin-inline: rem(20);
  }

  .title {
    font-size: rem(20);
  }

  .dot {
    max-width: 15vw;
    height: rem(5);
    margin-top: rem(7);
    margin-bottom: rem(20);
  }
}

@media (width <= rem(420)) {
  .dot {
    max-width: 30vw;
    margin-top: rem(5);
    margin-bottom: rem(10);
  }

  .title {
    font-size: rem(18);
  }
}
