.exp-item {
  max-width: rem(500);
  padding: rem(20);
  border-radius: 10px;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgba(#fff, 0.25);
  z-index: 10;
  overflow: hidden;
  &__background {
    inset: 0;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  &__number {
    position: absolute;
    top: rem(20);
    right: rem(20);
    margin-left: auto;
    font-size: rem(28);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('./icons/circle.svg');
      background-repeat: no-repeat;
      background-size: rem(50);
      transform: translate(30%, -20%);
      width: rem(50);
      height: rem(50);
    }
  }
  &__name {
    font-size: rem(24);
    font-weight: 600;
    text-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
  }
  &__role {
    margin-top: rem(5);
    font-size: rem(18);
    margin-bottom: rem(20);
  }
  &__description {
    font-size: rem(22);
    font-weight: 700;
    line-height: 1.2;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  }
  &__period {
    margin: auto auto 0;
    padding-top: rem(20);
    font-size: rem(20);
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .exp-item {
    padding: rem(15);
    &__background {
      opacity: 0;
    }
    &__number {
      top: rem(15);
      right: rem(15);
      font-size: rem(20);

      &::after {
        background-size: rem(40);
        width: rem(40);
        height: rem(40);
      }
    }
    &__name {
      font-size: rem(20);
      margin-right: rem(50);
    }
    &__role {
      font-size: rem(16);
      margin-bottom: rem(10);
    }
    &__description {
      font-size: rem(18);
      font-weight: 500;
      -webkit-text-stroke: 0px rgba(0, 0, 0, 1);
      text-shadow: 0 0px 0px rgba(0, 0, 0, 1);
    }
    &__period {
      padding-top: rem(10);
      font-size: rem(16);
    }
  }
}
