.form {
  display: flex;
  flex-direction: column;

  > label {
    font-size: rem(24);
    margin-bottom: rem(20);
  }

  > textarea {
    flex-grow: 1;
    background-color: $grey;
    color: $white;
    font-size: rem(18);
    padding: rem(10) rem(15);
    border: rem(1) solid rgb(255 255 255 / 25%);
    border-radius: rem(10);
    min-height: rem(45);
    max-height: rem(200);
    resize: vertical;

    &::placeholder {
      color: $white;
    }
  }

  &__proof {
    display: flex;
    align-items: center;
    margin: rem(20) 0;
    font-size: rem(16);
  }

  &__btn {
    margin: rem(30) auto 0;
    width: rem(150);
    padding: rem(10) rem(20);
    font-size: rem(20);
    color: $white;
    background-color: $blue;
    border-radius: rem(10);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s ease-in-out;

    &:disabled {
      opacity: 0.7;
      cursor: auto;
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &__input--hidden {
    display: none;
  }

  &__loader {
    width: rem(20);
    height: rem(20);
    animation: rotate linear 1s infinite;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@media (width <= rem(1024)) {
  .form {
    > label {
      font-size: rem(22);
    }

    &__btn {
      margin: rem(30) auto 0;
      font-size: rem(18);
    }
  }
}

@media (width <= rem(768)) {
  .form {
    > label {
      font-size: rem(18);
      margin-bottom: rem(10);
    }

    > textarea {
      font-size: rem(16);
      min-height: rem(40);
      max-height: rem(150);
    }

    &__btn {
      margin: rem(20) auto 0;
      padding: rem(5) rem(10);
      font-size: rem(16);

      &:active:not(:disabled) {
        transform: scale(1);
      }
    }
  }
}

@media (width <= rem(420)) {
  .form {
    > label {
      font-size: rem(16);
    }

    > textarea {
      font-size: rem(14);
      min-height: rem(35);
      max-height: rem(120);
    }

    &__btn {
      margin: rem(15) auto 0;
      font-size: rem(14);
    }
  }
}
