.NF {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: rem(30);
  margin-inline: rem(60);

  &__title {
    font-size: rem(80);
  }

  &__subtitle {
    font-size: rem(50);
    margin-bottom: rem(30);
  }

  &__button {
    text-decoration: underline;
  }
}
