@import '../vars.scss',
'../Globals.scss';

.skills{
  padding: 50px 0;
  &_title{
    font-size: 30px;
    font-weight: 700;
  }
  >div{
    background-color: $green;
    border-radius: 20px;
    max-width: 10vw;
    height: 8px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
.skill {
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    &_item {
      flex-grow: 1;
      perspective: 1000px;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 12px;
      min-width: min(200px, 45vw);
      height: min(200px, 45vw);
      background-color: $grey;
      position: relative;
      transform-style: preserve-3d; // Для 3D-трансформаций
      transition: transform 1s; // Плавный поворот

      &.flipped {
        transform: rotateY(180deg); // Поворот на 180 градусов
      }

      .skill__item_front,
      .skill__item_back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; // Скрываем заднюю сторону
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .skill__item_front {
        transform: rotateY(0deg); // Лицевая сторона
      }

      .skill__item_back {
        transform: rotateY(180deg); // Задняя сторона
      }

      .skill__item_img {
        max-width: 100px;
      }

      .skill__item_title {
        font-size: 20px;
      }
    }
  }
}

.visible2{
  transform: translateY(0);
  transition: transform 1s;
}
.not-visible2{
  transform: translateY(0);
  transition: transform 1s;
}
.not-visible{
  opacity: 0;
  transition: all .3s;
}
.visible{
  opacity: 1;
  transition: all .3s;
}