.workpage {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  padding: rem(10) 0 rem(20);

  &__path {
    z-index: 1;
    font-size: rem(18);
    width: min-content;
    text-wrap: nowrap;
    gap: rem(5);
    display: flex;
    align-items: center;
    background-color: $grey;
  }

  &__image{
    border-radius: 10px;
  }

  &__title {
    margin-top: rem(-20);
    text-align: center;
    font-size: rem(28);
    margin-bottom: rem(10);
  }

  &__nav {
    margin-top: rem(-20);
    display: flex;
    align-items: center;
    gap: rem(30);
    font-size: rem(20);

    &-button {
      padding: rem(10) rem(25);
      border-radius: 7px;
      background-color: $blue;
      display: flex;
      align-items: center;
      gap: rem(10);
      transition: all 0.3s;

      &:hover {
        background-color: $blue-hover;
      }

      &:active {
        transform: scale(0.97);
      }

      &--private {
        background-color: $blue-disabled;

        &:hover {
          background-color: $blue-disabled;
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }

  &__description {
    margin-top: rem(-30);
    font-size: rem(20);
    line-height: 1.3;
    word-break: keep-all;
    font-weight: 400;

    & pre {
      overflow-x: auto;
      padding: 0 rem(10) rem(10);
      white-space: pre-wrap;
      background-color: var(--sources) !important;
      border-radius: 5px;
    }

    & h1 {
      margin: rem(14) 0;
      font-size: rem(25);
      font-weight: 400;
    }

    & h2 {
      margin: rem(10) 0;
      font-size: rem(20);
      font-weight: 400;
    }

    & h3 {
      margin: rem(10) 0;
      font-size: rem(17);
      font-weight: 400;
    }

    & h4,
    h5,
    h6 {
      margin: rem(5) 0;
      font-size: rem(20);
      font-weight: 400;
      line-height: 150%;
    }

    & ul {
      margin-top: 5px;
      margin-bottom: 15px;
      padding-left: rem(20);
      list-style-position: outside;
      list-style-type: disc;
    }

    & ol {
      padding-left: rem(30);
      list-style-position: outside;
      list-style-type: decimal;
    }

    & li {
      margin: rem(3) 0;
    }

    & hr {
      margin: 25px 0;
    }

    & strong {
      margin-bottom: 15px;
      font-weight: 700;
    }

    & p {
      margin-bottom: 15px;
    }

    & a {
      margin-top: 7.5px;
      margin-bottom: 7.5px;
    }
  }

  &__stack {
    margin-top: rem(-20);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(10);

    &-item {
      font-size: rem(18);
      line-height: 1.2;
      font-weight: 650;
      letter-spacing: 1.5px;
      padding: rem(3) rem(8);
      border-radius: 5px;
    }
  }
}

@media (width <= 1024px) {
  .workpage {
    &__path {
      font-size: rem(16);
      background-color: transparent;
    }

    &__title {
      margin-top: rem(-10);
      font-size: rem(24);
    }

    &__nav {
      gap: rem(20);
      font-size: rem(18);

      &-button {
        padding: rem(8) rem(20);
      }
    }

    &__description {
      font-size: rem(18);

      & pre {
        padding: 0 rem(8) rem(8);
      }

      & h1 {
        margin: rem(12) 0;
        font-size: rem(22);
      }

      & h2 {
        margin: rem(8) 0;
        font-size: rem(18);
      }

      & h3 {
        margin: rem(8) 0;
        font-size: rem(16);
      }

      & h4,
      h5,
      h6 {
        font-size: rem(16);
      }

      & ul {
        margin-bottom: rem(10);
        padding-left: rem(15);
      }

      & ol {
        padding-left: rem(20);
      }

      & hr {
        margin: rem(20) 0;
      }

      & strong {
        margin-bottom: rem(10);
      }

      & p {
        margin-bottom: rem(15);
      }
    }

    &__stack {
      &-item {
        font-size: rem(16);
      }
    }
  }
}

@media (width <= 768px) {
  .workpage {
    gap: rem(5);
    padding: rem(5) 0 rem(10);

    &__path {
      font-size: rem(14);
    }

    &__title {
      margin-top: rem(0);
      font-size: rem(20);
    }

    &__nav {
      margin-top: rem(-10);
      gap: rem(15);
      font-size: rem(16);

      &-button {
        padding: rem(5) rem(15);
        border-radius: 5px;

        & > img {
          width: rem(16);
        }

        &:hover {
          background-color: $blue;
        }

        &:active {
          transform: scale(1);
        }
      }
    }

    &__description {
      margin-top: rem(-20);
      font-size: rem(16);
      hyphens: auto;

      & pre {
        padding: 0 rem(5) rem(5);
      }

      & h1 {
        margin: rem(10) 0;
        font-size: rem(20);
      }

      & h2 {
        margin: rem(5) 0;
        font-size: rem(16);
      }

      & h3 {
        margin: rem(5) 0;
        font-size: rem(14);
      }

      & h4,
      h5,
      h6 {
        font-size: rem(14);
      }

      & ul {
        margin-bottom: rem(5);
        padding-left: rem(10);
      }

      & ol {
        padding-left: rem(20);
      }

      & hr {
        margin: rem(10) 0;
      }

      & strong {
        margin-bottom: rem(5);
      }

      & p {
        margin-bottom: rem(5);
      }
    }

    &__stack {
      margin-top: rem(-10);

      &-item {
        font-size: rem(15);
      }
    }
  }
}

@media (width <= 480px) {
  .workpage {
    &__nav {
      flex-direction: column;
      align-items: baseline;
      // margin-top: rem(-10);
    }

    &__description {
      // margin-top: rem(-20);
    }

    &__stack {
      // margin-top: rem(-10);
    }
  }
}

@media (width <= 420px) {
  .workpage {
    &__nav {
      margin-top: rem(0);
    }

    &__description {
      margin-top: rem(-10);
    }

    &__stack {
      margin-top: rem(0);
    }
  }
}
