@import '../../../app/styles/Vars.scss';
.word- {
  &html {
    background-color: #ff8c00;
    color: $black;
    border: 3px solid #a38f76c5;
  }
  &css {
    background-color: #000dff;
    color: $white;
    border: 3px solid #7679a3c5;
  }
  &javascript {
    background-color: #ffe600;
    color: $black;
    border: 3px solid #a3a276c5;
  }
  &scss {
    background-color: #ff00f2;
    color: $white;
    border: 3px solid #9e76a3c5;
  }
  &tailwind {
    background-color: #00c3ff;
    color: $black;
    border: 3px solid #7699a3c5;
  }
  &react{
    background-color: #2b00ff;
    color: $white;
    border: 3px solid #7678a3c5;
  }
  &rtk{
    background-color: #a600ff;
    color: $white;
    border: 3px solid #9176a3c5;
  }
  &typescript{
    background-color: #4400ff;
    color: $white;
    border: 3px solid #8376a3c5;
  }
}
