@import '../../../app/styles/Vars.scss';
.work {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: $grey;
  box-shadow: 0px 7px 8px 5px rgba(83, 83, 83, 0.2);
  border: 2px solid #848484;
  &__about {
    position: relative;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    border-radius: 5px;
    width: 100%;
  }
  &__key {
    &-word {
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $white;
      color: $black;
      font-size: 18px;
      font-weight: 600;
    }
    &-words {
      margin-top: 10px;
      justify-content: end;
      max-width: 48%;
      gap: 5px 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  &__details {
    margin-top: 20px;
    padding: 20px 0 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 2px solid $black;
  }
  &__btn {
    transition: all 0.8s;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    bottom: -20px;
    right: calc(50% - 25px);
    box-shadow: 4px 4px 35px 0px rgba(10, 255, 2, 0.2);
    margin-top: 20px;
    > img {
      width: 50px;
      height: 50px;
    }
  }

  &__title {
    margin: 10px 0;
    font-size: 28px;
  }
}

@media(max-width: 1024px){
  .work {
    padding: 15px;
    &__key {
      &-word {
        padding: 5px 10px;
        font-size: 18px;
      }
      &-words {
        margin-top: 10px;
        gap: 5px 10px;
        max-width: 45%;
      }
    }
    &__details {
      margin-top: 10px;
      padding: 15px 0 40px;
      font-size: 16px;
      gap: 15px;
    }
    &__btn {
      bottom: -20px;
      margin-top: 20px;
      > img {
        width: 40px;
        height: 40px;
      }
    }
  
    &__title {
      font-size: 24px;
    }
  }
}

@media(max-width: 768px){
  .work {
    padding: 10px;
    &__main{
      flex-direction: column;
    }
    &__key {
      &-word {
        padding: 5px 5px;
        font-size: 16px;
      }
      &-words {
        width: 100%;
        margin-top: 10px;
        gap: 5px 10px;
        max-width: 100%;
        margin-bottom: 40px;
        justify-content: start;
      }
    }
    &__details {
      margin-top: 10px;
      padding: 10px 0 40px;
      font-size: 16px;
      gap: 15px;
    }
    &__btn {
      bottom: -20px;
      margin-top: 20px;
    }
  
    &__title {
      font-size: 20px;
    }
  }
}

@media(max-width: 420px){
  .work {
    &__key {
      &-word {
        font-size: 14px;
      }
      &-words {
        gap: 5px 5px;
        margin-bottom: 40px;
      }
    }
    &__details {
      padding: 5px 0 30px;
      font-size: 14px;
      gap: 10px;
    }
    &__btn {
      bottom: -20px;
      margin-top: 20px;
      > img {
        width: 30px;
        height: 30px;
      }
    }
    &__title {
      font-size: 18px;
    }
  }
}