.skills {
  padding: rem(50) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__descr {
    display: flex;
    align-items: center;
    background-color: $green;
    padding: rem(10);
    border-radius: rem(5);
    font-size: rem(16);
    gap: rem(20);

    & > img {
      width: rem(20);
    }
  }

  &__img {
    position: absolute;
    width: rem(150);
    top: 40%;
    right: -10%;
    z-index: -10;
    filter: brightness(60%);
    animation: float_diagonal_right 7s infinite ease-in-out;
    rotate: -10deg;

    &:last-child {
      animation: float_diagonal_left 7s infinite ease-in-out;
      top: 40%;
      left: -10%;
      rotate: 10deg;
    }
  }

  &_loading {
    text-align: center;
    font-size: rem(16);
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes float_diagonal_right {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(20%, -20%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes float_diagonal_left {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-20%, -20%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media (width <= rem(1024)) {
  .skills {
    &__img {
      width: rem(100);
      top: 40%;
      right: -5%;

      &:last-child {
        top: 40%;
        left: -5%;
      }
    }
  }
}

@media (width <= rem(576)) {
  .skills {
    padding: rem(30) 0;

    &__descr {
      padding: rem(8);
      font-size: rem(12);
      gap: rem(10);
    }

    &__img {
      display: none;
    }

    &_loading {
      font-size: rem(14);
    }
  }
}

@media (width <= rem(420)) {
  .skills {
    padding: rem(15) 0;

    &__descr {
      padding: rem(5);
      font-size: rem(10);
      gap: rem(5);
    }
  }
}
