.reviews {
  padding: rem(50) 0;

  &__title {
    > span {
      color: $orange-red;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20) rem(30);
    width: 100%;

    &-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__original {
    margin: rem(20) auto;
    text-align: center;
    font-size: rem(22);

    > a {
      color: $orange-red;
      text-decoration: underline;
      font-weight: 700;
    }
  }

  &__about,
  &__about-text {
    margin-top: rem(10);
    font-size: rem(20);
  }

  &__add-button {
    width: min-content;
    font-size: rem(20);
    background-color: $blue;
    border-radius: rem(10);
    padding: rem(20) rem(15);
    text-wrap: nowrap;
    color: $white;
    margin-top: rem(20);
  }

  &__spec {
    margin-top: rem(10);
    font-size: rem(20);

    > span {
      color: $orange-red;
    }
  }
}

@media (width <= rem(1024)) {
  .reviews {
    padding: rem(40) 0;

    &__about,
    &__about-text,
    &__spec,
    &__original {
      font-size: rem(18);
    }

    &__add-button {
      font-size: rem(18);
      margin-top: rem(20);
    }
  }
}

@media (width <= rem(768)) {
  .reviews {
    padding: rem(30) 0;

    &__box {
      gap: rem(10);
    }

    &__about,
    &__about-text,
    &__spec,
    &__original {
      font-size: rem(16);
    }

    &__add-button {
      font-size: rem(16);
      padding: rem(15) rem(10);
      margin-top: rem(15);
    }
  }
}

@media (width <= rem(420)) {
  .reviews {
    padding: rem(20) 0;

    &__about,
    &__about-text,
    &__spec,
    &__original {
      font-size: rem(14);
    }

    &__add-button {
      font-size: rem(14);
      padding: rem(10);
    }
  }
}
