@import './vars.scss';
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $grey;
  height: 50px;
  font-size: 18px;
  position: relative;
  >a{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(50%, -50%);
  }
}