@import './vars.scss';
body{
  overflow-x: hidden;
  background-image: url('../data//main/bg.png');
  background-repeat: repeat;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
  color: $white;
  user-select: none;
}

.container{
  margin-inline: 10vw;
}

@media(max-width: 1024px){
  .container{
    margin-inline: 5vw;
  }
}

@media(max-width: 576px){
  .container{
    margin-inline: 20px;
  }
}