.work {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(10);
  width: calc(33% - 20px);
  padding: rem(10) rem(20) rem(20);
  border-radius: rem(15);
  background-color: $grey;
  box-shadow: 0 rem(7) rem(8) rem(5) rgb(83 83 83 / 20%);
  border: rem(2) solid #b47e7e;

  &__img {
    border-radius: rem(5);
    width: 100%;
  }

  &__title {
    font-size: rem(28);
  }

  &__hint {
    position: absolute;
    padding: rem(3) rem(5);
    transform: translate(5px, -40%);
    top: 0;
    right: 0;
    font-size: rem(18);
    line-height: 1.2;
    background-color: $orange-red;
    border-radius: 5px;
    color: $white;
  }
}

.word- {
  &html {
    background-color: #ffa500;
    color: $black;
    border: 2px solid #a38f76c5;
  }

  &css {
    background-color: #000dff;
    color: $white;
    border: 2px solid #7679a3c5;
  }

  &javascript {
    background-color: #ffe600;
    color: $black;
    border: 2px solid #a3a276c5;
  }

  &scss {
    background-color: #ff00f2;
    color: $white;
    border: 2px solid #54025fc5;
  }

  &tailwind {
    background-color: #00c3ff;
    color: $black;
    border: 2px solid #7699a3c5;
  }

  &react {
    background-color: #2b00ff;
    color: $white;
    border: 2px solid #7678a3c5;
  }

  &rtk {
    background-color: #a600ff;
    color: $white;
    border: 2px solid #ff39b3c5;
  }

  &typescript {
    background-color: #40f;
    color: $white;
    border: 2px solid #8376a3c5;
  }

  &vite,
  &webpack {
    background-color: #4e29f3;
    color: $white;
    border: 2px solid #8376a3c5;
  }

  &next\.js {
    background-color: rgb(0, 0, 0);
    color: $white;
    border: 2px solid #f691ffc5;
  }
}

@media (width <= rem(1024)) {
  .work {
    padding: rem(15);

    &__title {
      font-size: rem(24);
    }
  }
}

@media (width <= 850px) {
  .work {
    width: calc(50% - 10px);

    &__title {
      font-size: rem(20);
    }
  }
}

@media (width <= rem(768)) {
  .work {
    padding: rem(10);

    &__title {
      font-size: rem(18);
    }

    &__hint {
      padding: rem(3) rem(4);
      font-size: rem(16);
    }
  }
}

@media (width <= rem(470)) {
  .work {
    width: 100%;

    &__hint {
      padding: rem(3) rem(4);
      transform: translate(5px, -20%);
      font-size: rem(16);
    }
  }
}
