.services {
  padding: rem(50) 0 0;

  &__body {
    background-color: $grey;
    border: rem(1) solid rgb(255 255 255 / 25%);
    border-radius: rem(10);
    padding: rem(15) rem(20);
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    font-size: rem(20);
    line-height: 1.2;
    margin-bottom: rem(30);
  }

  &__subtitle {
    font-size: rem(22);
    margin-bottom: rem(20);
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    font-size: rem(20);
  }
}

@media (width <= rem(1024)) {
  .services {
    padding: rem(40) 0 0;

    &__box {
      font-size: rem(18);
    }

    &__subtitle {
      font-size: rem(20);
    }

    &__features {
      font-size: rem(18);
    }
  }
}

@media (width <= rem(768)) {
  .services {
    padding: rem(30) 0 0;

    &__body {
      padding: rem(10) rem(15);
    }

    &__box {
      gap: rem(15);
      font-size: rem(16);
      margin-bottom: rem(20);
    }

    &__subtitle {
      font-size: rem(18);
      margin-bottom: rem(10);
    }

    &__features {
      gap: rem(10);
      font-size: rem(16);
    }
  }
}

@media (width <= rem(420)) {
  .services {
    padding: rem(20) 0 0;

    &__box {
      gap: rem(10);
      font-size: rem(14);
      margin-bottom: rem(15);
    }

    &__subtitle {
      font-size: rem(15);
    }

    &__features {
      font-size: rem(14);
    }
  }
}
