.carousel {
  width: 100%;

  &__wrapper {
    position: relative;
    width: 100%;
    transition: height 0.3s ease;
    overflow: visible hidden;

    &::-webkit-scrollbar {
      width: rem(0);
      height: rem(0);
    }
  }

  &__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.3s;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $blue;
    color: white;
    border: none;
    padding: rem(12);
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    width: rem(40);
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
      width: rem(30);
    }

    &--prev {
      left: rem(0);
    }

    &--next {
      right: rem(0);
    }
  }

  &__video,
  &__image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    border-radius: 10px;
  }

  &__more {
    display: flex;
    margin: rem(15) auto 0;
    gap: rem(8);
    overflow-x: auto;
    padding: 0 rem(10) rem(10);
    box-sizing: border-box;
    height: rem(80);
    width: min-content;
    max-width: 100%;

    &::-webkit-scrollbar-button {
      display: none;
      width: rem(7);
      height: rem(7);
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      margin: rem(20) 0;
      background-color: var(--border);
      border-radius: 5px;
    }

    &::-webkit-scrollbar {
      width: rem(5);
      height: rem(5);
    }

    &-item {
      flex: 0 0 auto;
      position: relative;
      border-radius: rem(5);
      width: rem(138);
      transition: all 0.3s ease;
      cursor: pointer;
      box-sizing: border-box;

      &--active {
        z-index: 2;
      }

      &--unactive {
        filter: brightness(0.6);

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    &-thumb {
      display: block;
      height: rem(70);
      width: auto;
      max-width: rem(140);
      object-fit: cover;
      border-radius: rem(3);
    }
  }

  @media (width <= 1024px) {
    &__more {
      gap: rem(6);
      padding: 0 rem(5) rem(8);
    }
  }

  @media (width <= 768px) {
    &__button {
      display: none;
    }

    &__more {
      margin: rem(10) auto 0;
      gap: rem(5);
      padding: 0 rem(5) rem(5);
      height: rem(60);

      &-item {
        border-radius: rem(5);
        width: rem(100);

        &--unactive {
          &:hover {
            filter: brightness(1);
          }
        }
      }

      &-thumb {
        height: rem(55);
        max-width: rem(100);
      }
    }
  }
}
